html {
  scroll-behavior: smooth;
}
.parallax {
  /* Set a specific height */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://sodia.agency/assets/img/feature/bg-1.jpg);
  min-height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* draw */
/* #mySVG {
  position: fixed;
  top: 15%;
  width: 400px;
  height: 210px;
  margin-left: -50px;
} */
/* menu btn */
/* .bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--2nd-light);
  margin: 6px 0;
  transition: 0.4s;
} */

/* .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
} */
.cloud {
  position: relative;
  background: #fff;
}
.section-cloud {
  position: relative;
  min-height: 100vh;
  display: grid;
  grid: 100vh / 1fr;
  place-items: center;
}

.section-cloud h1 {
  position: absolute;
  font: 10vmin/0.8 "Libre Franklin";
  font-weight: 700;
  letter-spacing: -0.05em;
  color: #fff4;
  text-shadow: 0 0 5px #fff;
  mix-blend-mode: overlay;
}

.section-cloud svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
