:root {
  --1st: red;
  --1st-light: rgb(237, 33, 58);
  --2nd: #ffffff;
  --2nd-light: rgb(248, 248, 248);
  --3rd: #000;
  --3rd-light: rgb(67, 67, 69);
}
body {
  font-family: "Inter", sans-serif;
  line-height: 15px;
  font-size: 15px;
  font-weight: 300px;
  z-index: 1;
  overflow-x: hidden;
}
.container {
  max-width: 1200px;
}
a {
  color: inherit;
  text-decoration: none;
  list-style: none;
}
.title1 {
  color: #ffffff;
  max-width: 50%;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  top: 50px;
  left: 300px;
  line-height: 70px;
}
.title1 h2 {
  font-size: 60px;
  font-weight: 800;
}
.title1 span {
  font-size: 70px;
  font-weight: 900;
}
.sub1 {
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  max-width: 50%;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  top: 120px;
  left: 30%;
  line-height: 40px;
}
